$primary: rgb(0, 67, 124)
.pied
    height: 10vh
    display: flex
    background-color: white
    color: white
    align-content: center
    p
        margin: auto /* Important */
        text-align: center
        color: $primary
    a
        margin: auto /* Important */
        text-align: center
        color: $primary
        font-size: 2rem
    .img-footer
        height: 8vh
        margin: auto /* Important */


    