$primary: rgb(2, 9, 68)
$secondary: rgb(0, 67, 124)

.wrapper
    max-width: 80%
    h2
        text-align: center
        font-size: 2rem
        color: $primary
    h3
        margin-top: 60px
        text-align: center
        font-size: 2rem
        color: $primary
    p
        margin: 20px
        font-size: 1.5rem
        color: $primary
        scroll-behavior: smooth
    img
        border-radius: 10px !important
    .wp-container-12
        transform: translateX(-100%)
        opacity: 0
        transition: transform 0.6s ease-in-out,
        opacity 0.6s ease-in-out
    .wp-container-12.active 
        transform: translateX(0%)
        opacity: 1
    .wp-container-5
        img
            width: 180vh
            height: 40vh
        transform: translateX(-100%)
        opacity: 0
        transition: transform 0.6s ease-in-out,
        opacity 0.6s ease-in-out
    .wp-container-5.active 
        transform: translateX(0%)
        opacity: 1
    .wp-container-11
        transform: translateX(100%)
        opacity: 0
        transition: transform 0.6s ease-in-out,
        opacity 0.6s ease-in-out
    .wp-container-11.active 
        transform: translateX(0%)
        opacity: 1
    .wp-container-3
        transform: translateX(100%)
        opacity: 0
        transition: transform 0.6s ease-in-out,
        opacity 0.6s ease-in-out
    .wp-container-3.active 
        transform: translateX(0%)
        opacity: 1
    .wp-container-14
        transform: translateX(100%)
        opacity: 0
        transition: transform 0.6s ease-in-out,
        opacity 0.6s ease-in-out
        margin-bottom: 20vh
    .wp-container-14.active 
        transform: translateX(0%)
        opacity: 1