body {
  background-image: url(images/sable_V3_Clair.png);
}

* {
  scroll-behavior: smooth !important;
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  padding: 80px 0;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 160px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  color: #020944;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  color: #00437c;
  margin: auto;
  text-align: center;
  font-size: 50px;
  font-family: "brad";
  margin-bottom: 40px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.nav {
  background-color: #020944;
  margin-bottom: 40px;
  z-index: 99;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav ul li {
  padding: 10px;
  font-weight: 500;
  font-family: "brad";
}

.nav ul li a {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav ul li:hover {
  background-color: white;
  border-radius: 10px;
  font-weight: 700;
}

.nav ul li:hover a {
  color: #020944;
}

.nav ul .sub_menu_nav {
  display: none;
  background-color: white;
  border-radius: 10px;
  z-index: 98;
}

.nav ul .sub_menu_nav li:hover {
  background-color: white;
  border-radius: 10px;
  transform: scale(1.05);
}

.nav ul .sub_menu_nav li:hover a {
  color: #020944;
}

.nav ul li:hover .sub_menu_nav {
  font-family: "brad";
  display: flex;
  flex-direction: column;
  position: absolute;
}

.pied {
  height: 10vh;
  display: flex;
  background-color: white;
  color: white;
  align-content: center;
}

.pied p {
  margin: auto;
  text-align: center;
  color: #020944;
}

.pied a {
  margin: auto;
  text-align: center;
  color: #020944;
  font-size: 2rem;
}

.pied .img-footer {
  height: 8vh;
  margin: auto;
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  color: #020944;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  color: #020944;
  scroll-behavior: smooth;
}

.wrapper img {
  border-radius: 10px !important;
}

.wrapper .wp-container-12 {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper .wp-container-12.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper .wp-container-5 {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper .wp-container-5 img {
  width: 180vh;
  height: 40vh;
}

.wrapper .wp-container-5.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper .wp-container-11 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper .wp-container-11.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper .wp-container-3 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper .wp-container-3.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper .wp-container-14 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  margin-bottom: 20vh;
}

.wrapper .wp-container-14.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  color: #020944;
}

.wrapper form {
  padding: 30px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.wrapper form h1 {
  font-size: 2rem;
}

.wrapper form .separation {
  width: 100%;
  height: 1px;
  background-color: #020944;
}

.wrapper form .corps-formulaire {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.wrapper form .corps-formulaire .groupe {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.wrapper form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: #020944;
  border-radius: 5px;
  width: 50vh;
}

.wrapper form .corps-formulaire .gauche .groupe i {
  position: absolute;
  left: 0;
  top: 25px;
  padding: 14px 8px;
  color: #020944;
}

.wrapper form .corps-formulaire .droite {
  margin-left: 40px;
}

.wrapper form .corps-formulaire .droite .groupe {
  height: 100%;
}

.wrapper form .corps-formulaire .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid #020944;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 82%;
  width: 50vh;
}

.wrapper form .pied-formulaire button {
  margin-top: 10px;
  background-color: #020944;
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.wrapper form .pied-formulaire button:hover {
  transform: scale(1.05);
}

@font-face {
  font-family: "brad";
  src: url("assets/fonts/brad.woff");
}

/*# sourceMappingURL=style.css.map */