body {
  background-image: url(images/sable_V3_Clair.png);
}

* {
  scroll-behavior: smooth !important;
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  padding: 80px 0;
  color: #020944;
}

.wrapper h3 {
  margin-top: 160px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  color: #020944;
  scroll-behavior: smooth;
}

@media screen and (max-width: 900px) {
  .wp-block-group__inner-container {
    display: flex;
    flex-direction: column;
  }
  .wp-image-14 {
    margin-top: 20vh;
    width: 40vw;
  }
  .wp-block-image {
    margin-left: 20vw;
  }
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  color: #00437c;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-family: "brad";
  font-weight: bold;
}

.header .zoom-in-zoom-out {
  margin: auto;
  font-size: 2.4rem;
  width: 70vw;
  height: 5vh;
  margin-bottom: 3vw;
  margin-top: 3vw;
  animation: zoom-in-zoom-out 20s 5s forwards;
  opacity: 0;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

body {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 500;
  font-family: "brad";
}

.mega-menu a {
  display: block;
  color: white;
  text-decoration: none;
  margin: auto;
  border-radius: 10px;
  word-wrap: break-word;
}

.mega-menu a:hover {
  background: white;
  color: #020944;
}

.mega-menu-main {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
  background: #020944;
}

.lvl-0 > a {
  padding: 12px 25px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.lvl-0:hover > ul {
  display: flex;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.mega-menu-tab {
  display: none;
  /*display: flex;*/
  position: absolute;
  top: 100%;
  width: max-content;
  background: #020944;
  text-align: center;
  padding: 0 20px;
}

.lvl-1 {
  flex: 1;
  width: 100%;
  margin: 0 15px;
}

.lvl-1 h2 {
  margin: 0;
  padding: 0;
  color: white;
}

.lvl-2 {
  padding-top: 15px;
}

.lvl-2 a {
  padding: 8px 10px;
}

.toggle {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

@media screen and (max-width: 900px) {
  .mega-menu-main {
    flex-direction: column;
  }
  .mega-menu-tab {
    flex-direction: column;
    position: static;
    padding-left: 30px;
  }
  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
  }
  .open .mega-menu-main {
    transform: translateX(0);
  }
  .ouvrir {
    display: block;
    color: #020944;
  }
  .fermer {
    display: none;
  }
  .open .ouvrir {
    display: none;
  }
  .open .fermer {
    display: block;
    color: white;
  }
  .mega-menu-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #020944;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 1s;
    display: flex;
    align-items: center;
    z-index: 99;
  }
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.img-footer {
  height: 8vh;
  margin: auto;
}

.nav__ul a {
  color: #999;
}

i {
  font-size: 2rem;
  margin-top: 1rem;
}

.button {
  margin-top: 10px !important;
  background-color: #020944 !important;
  color: white !important;
  font-size: 1rem !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  outline: none !important;
  cursor: pointer !important;
  transition: transform 0.5s !important;
}

.button:hover {
  transform: scale(1.05) !important;
}

@media screen and (min-width: 500px) {
  .pied {
    display: flex;
    justify-content: space-around;
  }
  .pied i {
    margin: auto;
    font-size: 4rem;
  }
  .pied .img-footer {
    height: 25vh;
    margin: auto;
  }
  .pied h2 {
    margin: auto;
  }
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  color: #020944;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  color: #020944;
  scroll-behavior: smooth;
}

.wrapper img {
  border-radius: 10px !important;
}

.wrapper .wp-container-16 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  margin-bottom: 20vh;
}

.wrapper .wp-container-16.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper .wp-container-5 {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper .wp-container-5 img {
  width: 1170px;
  height: 270px;
}

.wrapper .wp-container-5.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper .wp-container-11 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper .wp-container-11.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper .wp-container-3 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper .wp-container-3.active {
  transform: translateX(0%);
  opacity: 1;
}

.wrapper .wp-container-14 {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.wrapper .wp-container-14.active {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .wp-block-group__inner-container {
    display: flex;
    flex-direction: column;
  }
  .wp-block-image {
    margin: auto;
  }
  .wp-container-5 {
    display: flex;
    flex-direction: column;
  }
  .wp-container-5 .wp-block-image {
    margin: auto;
    width: 40vw;
    height: 30vh;
    margin-bottom: 10vh;
  }
}

.wrapper {
  max-width: 80%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper h3 {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  color: #020944;
}

.wrapper p {
  margin: 20px;
  font-size: 1.5rem;
  color: #020944;
}

.wrapper .carte {
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 10px !important;
  background-color: #020944 !important;
  color: white !important;
  font-size: 1.5rem !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  outline: none !important;
  cursor: pointer !important;
  transition: transform 0.5s !important;
}

.button:hover {
  transform: scale(1.05) !important;
}

@font-face {
  font-family: "brad";
  src: url("assets/fonts/brad.woff");
}

/*# sourceMappingURL=style.css.map */